<h4>Life</h4>
<ul>
    {% for topic in site.data.life %}
    <li>
      <p><a href="{{ topic.link }}">{{ topic.name }}</a><br><small>{{ topic.description }}</small></p>
    </li>
    {% endfor %}
</ul>
<h4>Technology</h4>
<ul>
    {% for topic in site.data.tech %}
    <li>
      <p><a href="{{ topic.link }}">{{ topic.name }}</a></p>
    </li>
    {% endfor %}
</ul>
<h4>Startups</h4>
<ul>
    {% for topic in site.data.startup %}
    <li>
      <p><a href="{{ topic.link }}">{{ topic.name }}</a><br><small>{{ topic.description }}</small></p>
    </li>
    {% endfor %}
</ul>