/*	IE 8 FIXES

	MAIN BLUE: 	#99CCFF
	LINK BLUE: 	#0066FF
	NEW BLUE:	#3366FF
	ORANGE:		#FFCC66
	GREEN:		#66CC00
	TBL GREEN:	#A7C942
	RED:		#CC0000
	BORDER:		#CCC
	GREY:		#999
	DARK GRY:	#555
*/



#rent_go{vertical-align:-3px;}
div.land-do h2{
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=45, color:'#F0F0F0');
}
h3.origin-start{
    bottom:-20px; right:-160px;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.results{width:1100px; margin:0px auto;}
.result_loan{float:left;}
